<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UACompatible" content="IE=edge">
  <meta name="viewport" content="width=d
evice-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h3>Confere CEP</h3>
  <form class='' #cepFom="ngForm" (ngSub mit)="pesquisa()">
    <div>
      <label for="cep" class="">
        FERRAMENTAS DE
        DESENVOLVIMENTO
        WEB
        Informe seu CEP
      </label>
      <input name="cep" type="text" [(ngModel)]="cep">
    </div>
    <div class="btn btnprimary btn-sm btn-icon-split">
      <span class="icon textwhite-80">
        <i class="fas fahome"></i>
      </span>
      <button class="btn btnprimary btnsm" type="submit">Pesquisa</button>
    </div>
  </form>
  <br>
  <div class="ml-2 spinnerbroder spinner-bordersm" [hidden]="!espera"></div>
  <div class="shadow-lg mx4" [hidden]="!pesquisado">
    <b>CEP pesquisado: </b>
    {{cep}}
    <br><b>Rua encontrda: </b>
    {{retorno.rua}}
    <br><b>Na cidade: </b>
    {{retorno.cidade}}
    <br><b>Do estado: </b>
    {{retorno.estado}}
    <br><br><br><button (click)="limpa
()">Reinicia</button>
  </div>
</body>

</html>